# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan

# Gradle & Builds
.gradle/
build/
target/
*.jar
*.war

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Credentials & Temp Files
*.pem
.env
.env.*
secret_info
out.log
err.log
