# General
SPRING_PROFILES_ACTIVE=uat
SERVER_PORT={{ server_port }}

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5432/{{ db_name }}
SPRING_DATASOURCE_USERNAME={{ db_user }}
SPRING_DATASOURCE_PASSWORD={{ db_password }}

# JWT
JWT_SECRET={{ jwt_secret }}

# AWS S3 (Environment Variables)
AWS_S3_ACCESS_KEY={{ aws_access_key }}
AWS_S3_SECRET_KEY={{ aws_secret_key }}
